# dependencies
/node_modules
/package-lock.json
/yarn.lock
/pnpm-lock.yaml

# editor
.idea
.vscode

# production
/build
/dist

# misc
.DS_Store

# logs
/*.log
/npm-debug.log*
/yarn-error.log
junit.xml
